* {
  box-sizing: border-box;
  margin: 0px;
  font-family: sans-serif;
}

header {
  background-image: url("../trabPractico/img/header.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40rem;
  color: white;
  position: relative;
  /*padding-bottom: 40%;*/
}

article {
  background-image: url("../trabPractico/img/encuentra.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 100%;
  width: 100%;*/
  padding-bottom: 20%;
}

article > h2 {
  position: relative;
  top: 100px;
  left: 110px;
  font-size: 30px;
}

article > div {
  position: relative;
  top: 140px;
  left: 110px;
  padding-bottom: 40px;
}

nav > ul > li {
  display: inline;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  position: relative;
  top: 40px;
  left: 60px;
  font-size: 40px;
}

div > nav {
  position: relative;
  left: 70%;
  bottom: -10px;
}

img {
  color: black;
}

#seccion1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 6.5%;
  /*width: 100%;*/
}

#containerDesc {
  display: flex;
  /*flex-direction: row;*/
  width: 100%;
  height: 25%;
  padding-left: 50px;
  padding-right: 50px;
}

#seccion2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2%;
}

#containerAnuncios {
  display: flex;
  flex-direction: row;
  /*width: 100%;*/
  padding-left: 50px;
  padding-right: 50px;
}

.anuncios {
  width: 100%;
  height: 250px;
}

#containerAnuncios > div {
  text-align: center;
  margin-bottom: 100px;
  border: 1px grey solid;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

footer {
  background-color: #383838;
  padding-bottom: 7px;
  padding-top: 25px;
  /*padding-left: -10px;
  padding-right: -10px;*/
}

#design {
  position: relative;
  left: 63%;
  color: white;
}

#contacto,
.verProp {
  text-decoration: none;
  background-color: #de8716;
  display: inline-block;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.verProp {
  padding-left: 110px;
  padding-right: 110px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contacto {
  padding-left: 20px;
  padding-right: 20px;
}

div > h2 {
  position: relative;
  top: 350px;
  left: 60px;
  right: 0px;
  font-size: 30px;
  padding-bottom: 30px;
}

.logo {
  position: relative;
  top: 1px;
  bottom: 40px;
  left: 35%;
  padding-bottom: 30px;
}

main > h3 {
  padding-top: 35px;
  padding-bottom: 0px;
}

h4 {
  text-align: center;
  padding-bottom: 20px;
}

.textoDeLogos {
  text-align: center;
}

#casa2 {
  margin-left: 70px;
  margin-right: 70px;
}

.casasNombre {
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
  padding-bottom: 15px;
}

.descCasa {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.precio {
  text-align: left;
  padding-left: 15px;
  padding-bottom: 20px;
  color: green;
}

span > img {
  padding-left: 10px;
}

div > span {
  padding-right: 10px;
}

#verTodas {
  text-decoration: none;
  background-color: #73b504;
  display: inline-block;
  position: relative;
  left: 89%;
  bottom: 30px;
  font-size: 12px;
  padding: 15px 15px;
  font-weight: bolder;
}
